<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Advanced Options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Debug Mode</string>
			<key>Key</key>
			<string>WaypipeDebug</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable GPU</string>
			<key>Key</key>
			<string>WaypipeNoGpu</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>One-shot</string>
			<key>Key</key>
			<string>WaypipeOneshot</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Unlink Socket</string>
			<key>Key</key>
			<string>WaypipeUnlinkSocket</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Login Shell</string>
			<key>Key</key>
			<string>WaypipeLoginShell</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>VSock</string>
			<key>Key</key>
			<string>WaypipeVsock</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>XWayland</string>
			<key>Key</key>
			<string>WaypipeXwls</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Title Prefix</string>
			<key>Key</key>
			<string>WaypipeTitlePrefix</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Placeholder</key>
			<string>e.g. Remote:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Sec Context</string>
			<key>Key</key>
			<string>WaypipeSecCtx</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
	</array>
</dict>
</plist>
